ul(class="nav nav-justified")
	li
		a(href="/home") Home
	li
		a(href="/amigos") Contatos
	li
		a(href="/usuarios") Usuários
	li
		a(href="/relatorios") Relatórios
	li
		a(href="/email") Entrar em contato
	li
		a(href="/logout") #{session.nome} [sair]